# Description

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None) 
pd.set_option('display.float_format', lambda x: '%.3f' % x)

print('Done')

Done

In [3]:
path = r'D:\Data_Projects\Supplement_Sales_Data_Analysis\Data\Supplement_Sales_Weekly_Expanded.csv'
data = pd.read_csv(path, low_memory=False)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4384 entries, 0 to 4383
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            4384 non-null   object
 1   Product Name    4384 non-null   object
 2   Category        4384 non-null   object
 3   Units Sold      4384 non-null   int64
 4   Price           4384 non-null   float64
 5   Revenue         4384 non-null   float64
 6   Discount        4384 non-null   float64
 7   Units Returned  4384 non-null   int64
 8   Location        4384 non-null   object
 9   Platform        4384 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 342.6+ KB

In [5]:
data.head(5)

,Date,Product Name,Category,Units Sold,Price,Revenue,Discount,Units Returned,Location,Platform
0,2020-01-06,Whey Protein,Protein,143,31.980,4573.140,0.030,2,Canada,Walmart
1,2020-01-06,Vitamin C,Vitamin,139,42.510,5908.890,0.040,0,UK,Amazon
2,2020-01-06,Fish Oil,Omega,161,12.910,2078.510,0.250,0,Canada,Amazon
3,2020-01-06,Multivitamin,Vitamin,140,16.070,2249.800,0.080,0,Canada,Walmart
4,2020-01-06,Pre-Workout,Performance,157,35.470,5568.790,0.250,3,Canada,iHerb

In [9]:
data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Date,4384,274,2025-03-31,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product Name,4384,16,Whey Protein,274,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category,4384,10,Vitamin,822,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Units Sold,4384.000,NaN,NaN,NaN,150.200,12.396,103.000,142.000,150.000,158.000,194.000
Price,4384.000,NaN,NaN,NaN,34.781,14.198,10.000,22.598,34.720,46.712,59.970
Revenue,4384.000,NaN,NaN,NaN,5226.569,2192.492,1284.000,3349.372,5173.140,7009.960,10761.850
Discount,4384.000,NaN,NaN,NaN,0.124,0.072,0.000,0.060,0.120,0.190,0.250
Units Returned,4384.000,NaN,NaN,NaN,1.531,1.258,0.000,1.000,1.000,2.000,8.000
Location,4384,3,Canada,1507,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Platform,4384,3,iHerb,1499,NaN,NaN,NaN,NaN,NaN,NaN,NaN